@charset "UTF-8";
/*页面宽度*/
/*logo的尺寸*/
/*导航的尺寸*/
/*header的高度*/
/*    搜索框、按钮、外包裹尺寸*/
/*水平居中*/
.g-hd, .g-hd .hd_wrap, .g-hd .hd_wrap .m-nav ul, .m-search, .m-hdLine .center, .m-hdLine .m-search .search_txt, .m-search .m-hdLine .search_txt, .m-hdLine .m-search .search_btn, .m-search .m-hdLine .search_btn, .g-ft .m-copyright {
  margin: 0 auto;
}

/*内外边距值为零*/
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "宋体", simsun, sans-serif;
}

.g-hd {
  height: 70px;
  background-color: #333;
  position: relative;
  z-index: 9999;
  padding: 0;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}
.g-hd .hd_wrap {
  padding: 0;
  position: relative;
  width: 1263px;
}
.g-hd .hd_wrap .u-logo {
  background-image: url("../img/logo.png");
  width: 240px;
  height: 70px;
  float: left;
  padding: 0;
}
.g-hd .hd_wrap .m-nav {
  height: 70px;
  float: right;
  width: 650px;
  border-left: 1px solid #373737;
  display: block;
}
.g-hd .hd_wrap .m-nav .h_none {
  display: none;
}
.g-hd .hd_wrap .m-nav ul {
  padding: 0;
}
.g-hd .hd_wrap .m-nav ul li {
  float: left;
  height: 70px;
  line-height: 70px;
  width: 120px;
  border-right: 1px solid #373737;
}
.g-hd .hd_wrap .m-nav ul li a {
  color: #EEE;
  text-align: center;
  font-size: 16px;
  display: block;
  text-decoration: none;
}
.g-hd .hd_wrap .m-nav ul li a:hover {
  background-color: #000;
}
.g-hd .hd_wrap .m-nav ul li a.active {
  background-color: #000;
}

.m-search {
  height: 600px;
  background-color: #badbee;
  background: url("../img/search.jpg") no-repeat center center scroll;
  width: 1263px;
  width: 100%;
  position: relative;
}
.m-search .center, .m-search .search_txt, .m-search .search_btn {
  left: 50%;
  top: 50%;
}
.m-search .s_wrap {
  width: 600px;
  height: 60px;
  background-color: #000;
  opacity: 0.3;
  border-radius: 10px;
  border: 1px solid #eee;
  position: absolute;
  margin: -30px 0 0 -250px;
  border: 1px solid #666;
}
.m-search .search_txt {
  width: 446px;
  height: 48px;
  position: absolute;
  border-radius: 10px;
  background-color: #eee;
  border: 1px solid #ccc;
  font-size: 24px;
  color: #666;
  margin: -25px 0 0 -240px;
  text-indent: 5px;
}
.m-search .search_btn {
  width: 120px;
  height: 50px;
  border-radius: 10px;
  font-size: 24px;
  color: #666;
  margin: -25px 0 -30px 220px;
  position: absolute;
  border: 1px solid #ccc;
  font-weight: bold;
}

.m-hdLine {
  background: url("../img/headline.jpg") no-repeat center center;
  height: 300px;
  width: 100%;
}
.m-hdLine .center, .m-hdLine .m-search .search_txt, .m-search .m-hdLine .search_txt, .m-hdLine .m-search .search_btn, .m-search .m-hdLine .search_btn {
  width: 100%;
  text-align: left;
  background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.7), transparent);
  height: 300px;
  position: relative;
}
.m-hdLine .center hgroup, .m-hdLine .m-search .search_txt hgroup, .m-search .m-hdLine .search_txt hgroup, .m-hdLine .m-search .search_btn hgroup, .m-search .m-hdLine .search_btn hgroup {
  position: absolute;
  left: 8%;
  top: 35%;
  color: #eee;
  letter-spacing: 1px;
}
.m-hdLine .center hgroup h2, .m-hdLine .m-search .search_txt hgroup h2, .m-search .m-hdLine .search_txt hgroup h2, .m-hdLine .m-search .search_btn hgroup h2, .m-search .m-hdLine .search_btn hgroup h2 {
  font-size: 36px;
}
.m-hdLine .center hgroup h3, .m-hdLine .m-search .search_txt hgroup h3, .m-search .m-hdLine .search_txt hgroup h3, .m-hdLine .m-search .search_btn hgroup h3, .m-search .m-hdLine .search_btn hgroup h3 {
  font-size: 20px;
  font-weight: normal;
}

.g-mn {
  margin: 30px auto;
  width: 1263px;
}
.g-mn .m-sidebar {
  float: right;
  width: 340px;
}
.g-mn .m-sidebar .content {
  clear: both;
  border: 1px solid #eee;
  margin: 0 0 10px;
}
.g-mn .m-sidebar .content h2 {
  background: f4f4f4;
  font-size: 20px;
  font-weight: normal;
  height: 40px;
  line-height: 40px;
  text-align: left;
  text-indent: 10px;
  color: #666;
  border-bottom: 1px solid #eee;
}
.g-mn .m-sidebar .recommend {
  height: 330px;
}
.g-mn .m-sidebar .recommend .tag ul {
  margin: 0 0 0 10px;
}
.g-mn .m-sidebar .recommend .tag ul li {
  width: 100.33333px;
  height: 35px;
  line-height: 35px;
  margin: 5px 0 0 5px;
  float: left;
}
.g-mn .m-sidebar .recommend .tag ul li a {
  font-size: 16px;
  color: #999;
  background-color: #eee;
  display: block;
  text-indent: 10px;
}
.g-mn .m-sidebar .recommend .tag ul li a:hover {
  background: #458b00;
  color: #fff;
}
.g-mn .m-sidebar .hot .fig {
  padding: 10px 0;
}
.g-mn .m-sidebar .hot .fig figure {
  display: inline-block;
  padding: 4px;
  text-align: center;
}
.g-mn .m-sidebar .hot .fig figure figcaption {
  color: #666;
}
.g-mn .m-sidebar .treasure .box {
  padding: 10px 0;
}
.g-mn .m-sidebar .treasure .box a {
  margin: 0 0 5px 5px;
  background-color: #eee;
  display: inline-block;
  width: 160px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #999;
  text-align: left;
  text-indent: 35px;
}
.g-mn .m-sidebar .treasure .box .trea1 {
  background: #eee url("../img/trea1.png") no-repeat scroll 10px center;
}
.g-mn .m-sidebar .treasure .box .trea2 {
  background: #eee url("../img/trea2.png") no-repeat scroll 10px center;
}
.g-mn .m-sidebar .treasure .box .trea3 {
  background: #eee url("../img/trea3.png") no-repeat scroll 10px center;
}
.g-mn .m-sidebar .treasure .box .trea4 {
  background: #eee url("../img/trea4.png") no-repeat scroll 10px center;
}
.g-mn .list {
  float: left;
  width: 910px;
}
.g-mn .list h2 {
  height: 40px;
  line-height: 40px;
  font-size: 30px;
  color: #666;
  border-bottom: 1px dashed #999;
  font-weight: normal;
  padding: 0 0 15px;
  text-align: left;
}
.g-mn .list .more {
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  width: 200px;
  margin: 0 auto 20px;
  border-radius: 10px;
  background: #fafafa;
}
.g-mn .list .more a {
  color: #000;
}
.g-mn .infomation .infor {
  height: 45px;
  line-height: 45px;
  background: #eee;
  border: 1px solid #eee;
  margin-bottom: 20px;
}
.g-mn .infomation .infor ul li {
  display: inline-block;
  height: 43px;
  line-height: 43px;
  text-align: center;
}
.g-mn .infomation .infor .left {
  float: left;
}
.g-mn .infomation .infor .left li {
  width: 150px;
}
.g-mn .infomation .infor .left li:first-child {
  background: #fff;
  border-top: 2px solid #448900;
}
.g-mn .infomation .infor .left li:hover {
  background: #fff;
  border-top: 2px solid #448900;
}
.g-mn .infomation .infor .left li a {
  display: block;
  color: #666;
  font-size: 18px;
}
.g-mn .infomation .infor .right {
  float: right;
  height: 45px;
  line-height: 45px;
  margin: 0 20px 0;
}
.g-mn .infomation .infor .right li {
  padding: 3px 8px;
}
.g-mn .infomation .infor .right li a {
  color: #666;
  padding: 5px;
  font-size: 16px;
}
.g-mn .infomation .infor .right li a:hover {
  background: #448900;
  color: #fff;
}
.g-mn .infomation .infor .right li a.selected {
  background: #448900;
  color: #fff;
}
.g-mn .infomation figure {
  border: 1px solid #eee;
  margin: 0 0 20px;
  position: relative;
  height: 230px;
}
.g-mn .infomation figure img {
  float: left;
}
.g-mn .infomation figure figcaption {
  float: right;
  margin: 10px 230px 0 0;
  text-align: left;
  width: 280px;
}
.g-mn .infomation figure figcaption header hgroup h2 {
  font-size: 24px;
  color: #333;
  margin: 10px 0;
  font-weight: normal;
}
.g-mn .infomation figure figcaption header hgroup h3 {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
  font-weight: normal;
}
.g-mn .infomation figure figcaption ol {
  margin-top: -5px;
}
.g-mn .infomation figure figcaption ol li {
  line-height: 2;
  color: #666;
}
.g-mn .infomation figure figcaption ol li mark {
  color: #448900;
  border-radius: 2px;
  border: 1px solid #448900;
  padding: 0 5px;
  background: #fff;
}
.g-mn .infomation figure figcaption .buy {
  position: absolute;
  top: 75px;
  right: 50px;
}
.g-mn .infomation figure figcaption .buy .price {
  color: #ff6600;
  font-size: 20px;
}
.g-mn .infomation figure figcaption .buy .price strong {
  font-size: 36px;
  font-weight: bold;
}
.g-mn .infomation figure figcaption .buy .price s {
  font-size: 16px;
  color: #999;
}
.g-mn .infomation figure figcaption .buy .reserve a {
  background: #ff6600 none repeat scroll 0 0;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 152px;
}
.g-mn .infomation figure figcaption .type {
  position: absolute;
  top: 0;
  left: 0;
  background: #448900;
  color: #fff;
  width: 90px;
  height: 25px;
  line-height: 25px;
  border-radius: 0 0 5px 0;
  text-align: center;
  font-size: 14px;
}
.g-mn .infomation figure figcaption .disc {
  position: absolute;
  top: 0;
  right: 0;
  background: url("../img/disc.png") no-repeat scroll;
  display: block;
  height: 52px;
  width: 52px;
}
.g-mn .infomation figure figcaption .disc span {
  color: #ff837d;
  transform: rotate(45deg);
  font-size: 14px;
  display: block;
  text-indent: 17px;
}
.g-mn .infomation figure figcaption footer {
  background-color: #fafafa;
  bottom: 0;
  color: #666;
  height: 35px;
  letter-spacing: 1px;
  line-height: 35px;
  margin-left: -15px;
  position: absolute;
  text-indent: 15px;
  width: 525px;
}
.g-mn .infomation figure figcaption footer time {
  color: #448900;
}
.g-mn .ticket {
  color: #666;
  text-align: left;
}
.g-mn .ticket form .field {
  font-size: 20px;
  border: medium none;
}
.g-mn .ticket form .field p {
  line-height: 3;
}
.g-mn .ticket form .field p input {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #999;
  padding: 5px;
  width: 250px;
  height: 30px;
  margin: 0 0 0 24px;
  font-size: 20px;
}
.g-mn .ticket form .type {
  font-size: 20px;
}
.g-mn .ticket form .type mark {
  background: #458b00;
  padding: 5px 8px;
  color: #fff;
  border-radius: 4px;
  margin: 0 8px 0 16px;
}
.g-mn .ticket form .left {
  display: inline-block;
  width: 43%;
}
.g-mn .ticket form .right {
  display: inline-block;
  width: 43%;
  margin: 0 0 0 20px;
}
.g-mn .ticket form .button {
  display: inline-block;
  float: right;
  width: 9%;
  position: relative;
}
.g-mn .ticket form .button .submit {
  background: #f60;
  color: #fff;
  width: 90px;
  height: 90px;
  line-height: 90px;
  border-style: none;
  border-radius: 4px;
  font-size: 20px;
  position: absolute;
  top: 14px;
  right: 15px;
  cursor: pointer;
}
.g-mn .ticket .new {
  font-size: 20px;
  margin: 20px 0 0;
  /*table单元格td的样式*/
}
.g-mn .ticket .new ul {
  margin: 20px 0 0;
}
.g-mn .ticket .new ul li {
  display: inline-block;
  padding: 5px 10px;
}
.g-mn .ticket .new ul li:first-child {
  padding-left: 0;
}
.g-mn .ticket .new ul li:nth-child(2) {
  background-color: #458b00;
  color: #fff;
  border-radius: 4px;
}
.g-mn .ticket .new table thead tr th, .g-mn .ticket .new table tbody tr td, .g-mn .ticket .new table .tbf tr td {
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
.g-mn .ticket .new table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  margin: 20px 0 0;
}
.g-mn .ticket .new table .tb tr:hover {
  background: #eee;
}
.g-mn .ticket .new table tbody tr td .price {
  color: #f60;
}
.g-mn .ticket .new table tbody tr td .reserve {
  width: 80px;
  height: 35px;
  line-height: 35px;
  background: #f60;
  border-radius: 4px;
  display: inline-block;
  color: #fff;
}
.g-mn .ticket .new table .tbf tr {
  cursor: pointer;
}
.g-mn .ticket .new table .tbf tr td .more2 {
  color: #666;
}
.g-mn .scenery figure {
  padding: 4px;
  border: 1px solid #ddd;
  display: inline-block;
  width: 435px;
  margin: 10px 7px 10px 0;
  border-radius: 4px;
}
.g-mn .scenery figure figcaption {
  font-size: 20px;
  text-align: center;
  color: #666;
  padding: 5px 0;
}
.g-mn .about {
  font-size: 20px;
  color: #666;
  text-align: left;
}
.g-mn .about p {
  margin: 20px 0;
  text-indent: 2em;
  line-height: 2;
}
.g-mn .about address {
  font-style: normal;
  margin: 40px 0 0;
  line-height: 1.6;
}
.g-mn .about address ul {
  margin: 20px 0 0;
}
.g-mn .about address ul li {
  text-decoration: normal;
}

.index_tour .center, .index_tour .m-search .search_txt, .m-search .index_tour .search_txt, .index_tour .m-search .search_btn, .m-search .index_tour .search_btn {
  color: #666;
  text-align: center;
}
.index_tour .center h2, .index_tour .m-search .search_txt h2, .m-search .index_tour .search_txt h2, .index_tour .m-search .search_btn h2, .m-search .index_tour .search_btn h2 {
  font-size: 45px;
  padding: 5px 0 0;
  letter-spacing: 1px;
}
.index_tour .center p, .index_tour .m-search .search_txt p, .m-search .index_tour .search_txt p, .index_tour .m-search .search_btn p, .m-search .index_tour .search_btn p {
  margin: 10px 0;
}
.index_tour figure {
  width: 380px;
  border: 1px #ddd solid;
  border-radius: 4px;
  padding: 4px;
  position: relative;
  margin: 15px 12px;
  display: inline-block;
  text-align: left;
}
.index_tour figure figcaption {
  color: #777;
  font-size: 14px;
  letter-spacing: 1px;
  padding-bottom: 5px;
}
.index_tour figure figcaption .title {
  color: #333;
  font-weight: normal;
}
.index_tour figure figcaption .info {
  margin: 10px 0 0;
}
.index_tour figure figcaption .info .sat {
  float: right;
  font-style: normal;
}
.index_tour figure figcaption .info .price {
  color: #ff6600;
}
.index_tour figure figcaption .info .price strong {
  font-size: 20px;
  padding: 0 5px;
}
.index_tour figure figcaption .type {
  background-color: #59b200;
  color: #fff;
  border-radius: 0 0 5px 0;
  position: absolute;
  top: 4px;
  left: 4px;
  width: 90px;
  text-align: center;
  padding: 3px 0;
}

.g-ft {
  clear: both;
  height: 361px;
  background-color: #222;
  text-align: left;
  color: #ccc;
  margin-top: 40px;
}
.g-ft .top {
  height: 280px;
  width: 1263px;
  margin: 0 auto;
}
.g-ft .top .block {
  display: inline-block;
  width: 380px;
  margin: 0 18px;
  color: #ccc;
}
.g-ft .top .block h2 {
  font-size: 24px;
  font-weight: normal;
  padding: 20px 0 10px;
}
.g-ft .top .block hr {
  border: 1px dashed #333;
}
.g-ft .top .block ul {
  padding: 10px 0;
  float: left;
}
.g-ft .top .block ul li {
  color: #666;
  font-size: 18px;
  line-height: 2;
}
.g-ft .m-copyright {
  clear: both;
  background-color: #000;
  color: #777;
  height: 80px;
  line-height: 80px;
  text-align: center;
  border-top: 1px solid #666;
}

/*# sourceMappingURL=basic.css.map */
